#!/usr/bin/env bash

BASE_DIR=$(git rev-parse --show-toplevel)
export BASE_DIR

export EXERCISM_CONFIG_HOME="${BASE_DIR}/.exercism-config"
mkdir -p "${EXERCISM_CONFIG_HOME}"

touch "${EXERCISM_CONFIG_HOME}/.gitignore"

if [[ -e "${BASE_DIR}/.exercism-token" ]]; then
  EXERCISM_API_TOKEN="$(< "${BASE_DIR}/.exercism-token")"
fi

exercism configure --token "${EXERCISM_API_TOKEN}" --workspace "${BASE_DIR}/src/exercism_python"

poetry install
